# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
soq

# Testing files
*.test
coverage.html

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Profiling
profiling.prof
profile*

# Geodata files
*.osm.pbf
*.geojson

# Index files
soq-index
src/soq-index*

# Go workspace file
go.work

# Misc
*.ods
*.csv
*.ods#
*.csv#
*.xml
*.prof